/* You can customize theme styles here */
.header .navbar-brand span:first-child{
    color: #cd4949;
}
.header .container{
    padding-left: 10px;
}

html body ::selection{
    background-color:#cd4949;color:#fff
}
